.logo-dash{
    width: 80%;
}

.sidebar{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: $violet;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #ffffff; /* Default text color */
    background-color: $violet; /* Default background color for inactive links */
    font-weight: bold;
  }

  .nav .nav-item {
    margin: 4px 0;
    width: 100%;
  }
  
  .nav-link.active {
    background-color: white; /* Background color for active links */
    color: $violet;
    border-radius: 10px;
    width: 100%; 
  }

  .nav-link.active:hover {
    color: $violet;
  }

  .nav-link:hover {
      color: #fff;  
  }
  
  .nav-link i {
    margin-right: 0.5rem; /* Space between icon and text */
  }


 